<div class="container-fulid">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
        <div class="card  ">
            <div class="card-header">
                New Task
            </div>
            <div class="card-body">

                <form>
                    <div class="form-group">
                        <label for="task-name">Task</label>
                        <input type="text" class="col-sm-12 col-lg-12 form-control" id="task-name">
                    </div>

                    <div class="form-group">
                        <label for="task-level">Level</label>
                        <input type="text" class="col-sm-12 col-lg-12 form-control" id="task-level">
                    </div>

                    <div class="form-group">
                        <label for="task-deadline">Deadline</label>
                        <input type="date" class="col-sm-12 col-lg-12 form-control" id="task-deadline">
                    </div>

                    <button type="submit" class="btn btn-light"><i class="fas fa-plus"></i> Add Task</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
        <div class="card  ">
            <div class="card-header">
                Current Task
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">#</th>
                            <th scope="col" class="col-6 col-sm-6 col-md-6">Task</th>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">Level</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">Deadline</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>1</td>
                            <td>2021/12/31</td>
                            <td>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-btn fa-trash"></i>Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>2</td>
                            <td>2021/10/30</td>
                            <td>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-btn fa-trash"></i>Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>1</td>
                            <td>2021/10/05</td>
                            <td>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-btn fa-trash"></i>Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>